<<<<<<< HEAD
.display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
=======
.configuration-game {
    
}
>>>>>>> 42872076f6eb1b0bd7bffffec0b66c9d1429873f
