
.configuration-game {
  height: 100%;
  box-sizing: border-box;
  padding: 50px 20px 20px 20px;
  display: grid;
  align-items: flex-start;

  .configuration-game--content {
    text-align: center;
    padding: 0 20px;

    .configuration-game--logo {
      height: 50px;
      margin: auto;
    }
    .configuration-game--title{
      font-size: 1.3em;
    }
    .configuration-game--players {
      padding: 20px 50px 50px 50px;
      border: solid 2px #9361c9;
      -webkit-box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.75);
      box-shadow: -10px -10px 0px 0px rgb(147, 97, 201);
      margin: 50px 0 0 10px;

      .configuration-game--add-player{
        width: -moz-fit-content;
        width: fit-content;
        padding: 10px;
        background-color: #d6d6d67d;
        border-radius: 12px;
      }
    }
  }

  .configuration-game--button {
    align-self: end;
  }
}
